.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; }

/* Create four equal columns that floats next to each other */
.column {
  float: right;
  width: 23%;
  padding: 10px;
  margin-right: 145px;
}

.column1 {
  float: right;
  width: 23%;
  padding: 10px;
  margin-right: 48em;
}

body {
  padding-top: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
h1{
    text-align: center;
}
.column button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.column button:hover {
  opacity: 0.7;
}
.button_color {
  float: left;
  width: 31.7%;
  padding: 10px;
}

.button_color button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.button_color button:hover {
  opacity: 0.7;
}

nav {
    background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.errorlist.nonfield {
    color:#cf0000;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h2{
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

html{
  background-color:white;
  font-family:"Courier New";
}

html, body {
    margin: 0;
    min-height: 100%;
}

.coming{
  background-color:#1D2951;
  color:gainsboro;
  text-align:center;
  margin-top:50px;
  padding:5px;
  border-radius:0px;
}

.page-title {
  background-color:#1D2951;
  color:gainsboro;
  padding: 5px
}

.behind{
  background-color:#f2f2f2;
  text-align:center;
  padding:5px;
  border-radius:0px;
}

.content-section {
    text-align:left;
}

.form-group {

}

.asteriskField{
  color:#cf0000;
}

.content-section {
  background: #f2f2f2;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

  .wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  }

  .search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
  }

  .clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
    <!-- visibility: hidden; -->
  }

  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
 .search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }
  a:link{
	  text-decoration:none;
  }
  a:visited{
	  text-decoration:none;
  }
  .logo{
	  color:black;
  }
td{
	text-align:center;
}
.buttons{
	text-align:center;
}