{% load static %}
{% load extras %}
<!DOCTYPE HTML>
<html lang="en">
    <head>

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'store/css/home.css' %}">
        <title>My Bookstore</title>
    </head>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'home' %}">The Bookstore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'search' %}">Search</a>
                        {% if user.is_authenticated %}
                            {% if user.user1.user_suspend %}
                                <meta http-equiv="refresh" content="0; URL={% url 'suspended' %}">
                            {% else %}
                                {% if not request.user.is_superuser %}
                                    {% if not request.user.user1.user_active %}
                                        <a class="nav-item nav-link" href="{% url 'inactive' %}">My Cart</a>
                                    {% else %}
                                        <a class="nav-item nav-link" href="{% url 'myCart' %}">My Cart</a>
                                    {% endif %}
                                    {% if not request.user.user1.user_active %}
                                        <a class="nav-item nav-link" href="{% url 'inactive' %}">Order History</a>
                                    {% else %}
                                        <a class="nav-item nav-link" href="{% url 'orderHistory' %}">Order History</a>
                                    {% endif %}
                                {% endif %}

                                {% if not request.user.user1.user_active %}
                                    <a class="nav-item nav-link" href="{% url 'confirm_account' %}">Confirm Account</a>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Admin
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
<!--                                            <a class="dropdown-item" href="/admin">Admin Panel</a>-->
                                            <a class="dropdown-item" href="{% url 'manage_books' %}">Manage Books</a>
                                            <a class="dropdown-item" href="{% url 'manage_users' %}">Manage Users</a>
                                            <a class="dropdown-item" href="{% url 'manage_promos' %}">Manage Promos</a>
                                        </div>
                                    </li>
                                {% endif %}
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ user.username }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                        </div>
                                    </li>
                    </div>
                            {% endif %}
                        {% else %}
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>
                        {% endif %}
                </div>
            </div>
        </nav>
    </header>



        <header>
            <div class="container">
                {% if user.is_authenticated and not request.user.user1.user_active %}
                    <div class="behind">
                        Confirm Your Account Now
                    </div>
                {% endif %}
                <div class="behind">
                {% if messages %}
                    <div> </div>
                    {% for message in messages %}
                    <h4>&nbsp{{ message }} </h4>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </header>



        <body>
            <div class="container">
                <div class="behind">
                {% block content %}{% endblock %}
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        </body>