{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
            <link rel="stylesheet" href="{% static 'store/css/home.css' %}">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">
            <meta charset="utf-8">
            <title>My Bookstore</title>
    </head>
        <header>
            <a href="{% url 'home' %}" class="logo"><h1>The Bookstore</h1></a>
            {% if user.is_authenticated %}
            <div>
                &nbspLogged in as {{ user.username }}
            </div>
            {% endif %}
        <nav>
            <ul>
                <li><a href = "{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    {% if user.user1.user_suspend %}
                        <meta http-equiv="refresh" content="0; URL={% url 'suspended' %}"
                    {% else %}
                        <li><a href = "{% url 'edit_profile' %}">Edit Profile</a></li>
                        <li><a href = "{% url 'myCart' %}">My Cart</a></li>
				        <li><a href = "{% url 'orderHistory' %}">Order History</a></li>
                    {% endif %}
                    <li><a href = "{% url 'logout' %}">Logout</a></li>

                    {% if request.user.is_superuser %}
                        <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                        <li><a href = "/admin">Admin Panel</a></li>
                        <li><a href = "/admin/store/book/">Manage Books</a></li>
<!--                        <li><a href = "/admin/auth/user/">Manage Users</a></li>-->
                        <li><a href = "{% url 'manage_users' %}">Manage Users</a></li>
                        <li><a href = "{% url 'manage_promos' %}">Manage Promos</a></li>
                    {% endif %}
                {% else %}
                    <li><a href = "{% url 'register' %}">Login/Register</a></li>
                {% endif %}

            </ul>
            </nav></header>
        {% if messages %}
            {% for message in messages %}
                <td>&nbsp{{ message }}
            {% endfor %}
        {% endif %}
        <body>
            {% block content %}{% endblock %}
        </body>