{% extends "store/base.html" %}
{% load static %}
{% load extras %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="page-title">Checkout</h1>
    {% if not books %}
        <h2>Your cart is empty.</h2>
    {% else %}
		<div class="content-section">
			<table border=1 frame=void rules=rows style="width:100%:">
				<colgroup>
							<col span="1" style="width: 33%;">
							<col span="1" style="width: 33%;">
							<col span="1" style="width: 34%;">
				</colgroup>
				<tr>
					<td><u>Title</td>
					<td><u>Quantity</td>
					<td><u>Price</td>
				</tr>
				{% for book in books %}
					<tr>
						<td> {{ book.0.title }} </td>
						<td> {{ book.1 }} </td>
						<td> ${{ book.0.sell_price|multiply:book.1|floatformat:2}} <td>
					</tr>
				{% endfor %}
					<tr><td> </td></tr>
					<tr>
						<td> </td>
						<td><h5>Subtotal: </h5></td>
						<td><h5>${{ subtotal|floatformat:2 }}</h5></td>
					</tr>
				{% if code %}
					<tr>
						<td> </td>
						<td></td>
							<td>Applied: {{ code }}</td>
					</tr>
				{% endif %}
			</table>
		</div>

		<div class="content-section">
			<table border=1 frame=void rules=rows style="width:100%:">
				<colgroup>
							<col span="1" style="width: 5%;">
							<col span="1" style="width: 15%;">
							<col span="1" style="width: 25%;">
				</colgroup>
				<tr>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				<tr>
					<td>Promo Code:</td>
					<td>
						<form method ="POST">
                			{% csrf_token %}
							<input type="text" id="promo_code" name="promo_code"/>
							<button class="btn btn-dark" type="apply" value="" name="apply">Apply</button>
						</form>
					</td>
					<td>Note: Only one promo can be applied at a time.</td>
				</tr>
			</table>
		</div>
		<div class="content-section">
			<form method ="POST">
				{% csrf_token %}
					<large><b>Shipping Address:</b></large>
					{{address_form|crispy}}
				<div>
                    <button class="btn btn-dark" type="submit" name="update">Update</button>
                </div>
			</form>
		</div>
		<div class="content-section">
			<form method ="POST">
				{% csrf_token %}
				{% if cards %}
					<table border=1 frame=void rules=rows style="width:100%:">
						<large><b>Select a payment method:</b></large>
						<colgroup>
							<col span="1" style="width: 5%;">
							<col span="1" style="width: 15%;">
						</colgroup>
						<tr>
							<td><u>Card Number</u></td>
							<td>Select</td>
						</tr>
						{% for card in cards %}
						<tr>
							<td>************{{ card.card_number|last_4 }}</td>
							<td><input type="radio" name="select" value="{{card.card_id}}"></td>
						</tr>
						{% endfor %}
				{% else %}
					<large><b>Enter Payment Information:</b></large>
					{{form|crispy}}
				{% endif %}
			</table>
		</div>
        <div class="coming">
                <button class="btn btn-light" type="confirm" value="" name="confirm">Confirm Order</button>
            </form>
        </div>
    {% endif %}
{% endblock content%}