<!DOCTYPE HTML>
<html lang="en">
    <head>
            <link rel="stylesheet" href="home.css">
            <meta charset="utf-8">
            <title>My Bookstore</title>
    </head>
        <header>
        <nav>
            <ul>
                <li><a href = "homeLoggedIn.html">Home</a></li>
                <li><a href = "home.html">Logout</a></li>
                <li><a href = "edit_profile.html">Edit Profile</a></li>
                <li><a href = "myCart.html">My Cart</a></li>
				<li><a href = "orderHistory.html">Order History</a></li>
            </ul>
            </nav></header>
	<body>
		<h2>Credit Card on file: 1234-4321-5678-8765</h2>
		<h2>Exp. Date: 01/2026</h2>
		<h2>CVV: 111</h2>
		<input type="button" onclick="location.href='edit_profile.html';" value="Change Card">
		<h2>Address on file: 123 Mapple Drive, Atlanta, GA, 30003</h2>
		<input type="button" onclick="location.href='edit_profile.html';" value="Change Address">
		<input type="button" onclick="location.href='checkoutConfirmation.html';" value="Proceed With Purchase">
		
	</body>