{% extends "store/base.html" %}
{% load static %}
{% block content %}
        <h1>Edit Profile</h1>
    <main>

        <div class = "column">
            <h2>Change Password</h2>
            <form method ="POST">
                {% csrf_token %}
                    <legend>Profile Info</legend>
                    <fieldset>
                        <label for="old_password">Current Password:</label>
                        <input type="password" id="old_password" name="old_password" id="old_password"><br><br>
                        {{ p_form.as_p }}
                    </fieldset>
                    <div>
                        <button class="btn btn-outline-info" type="submit" name="passSubmit">Update</button>
                    </div>
            </form>
        </div>
         <div class = "column">
            <h2>Personal Information</h2>
                 <form method ="POST">
                    {% csrf_token %}
                     <legend>Profile Info</legend>
                        <fieldset>
                                {{ u_form.as_p }}
                                <label> Email: {{ user.email }} </label>
                                {{ u1_form.as_p }}
                        </fieldset>
                    <div>
                        <button class="btn btn-outline-info" type="submit" name="infoSubmit">Update</button>
                    </div>
                </form>
        </div>
         <div class = "column">
            <h2>Payment Information</h2>
                        <div class="login_row">
                            <form method ="POST">
                                {% csrf_token %}
                                    <fieldset>
                                        {{ pay_form.as_p }}
                                    </fieldset>
                                <div>
                                    <button class="btn btn-outline-info" type="submit" name="paySubmit">Update</button>
                                </div>
                            </form>
                        </div>
        </div>
<!--         <div class = "column">-->
<!--            <h2>Address Information</h2>-->
<!--            <form>-->
<!--                <label for="address_info">Address:</label><br>-->
<!--                <input size="50" type="text" id="address_info" name="address_info" placeholder="Enter Address"><br><br>-->
<!--                <input type="submit" value="Submit">-->
<!--             </form>-->
<!--        </div>-->
        </main>
{% endblock content%}