{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        <h1 class="coming">Edit Profile</h1>
        <div class = "content-section">
            <form method ="POST">
                {% csrf_token %}
                    <fieldset>
                        <legend class="border-bottom mb-4">Change Password</legend>

                        <div class="form-group">
                        <label for="old_password" class=" requiredField">
                            Current Password:
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" id="old_password" name="email" class="textinput textInput form-control">
                            <small id="hint_id_old_password" class="form-text text-muted">Enter your current password.</small>
                        </div>
                        </div>
                        {{ p_form | crispy }}
                    </fieldset>
                    <div>
                        <button class="btn btn-outline-info" type="submit" name="passSubmit">Update</button>
                    </div>
            </form>
        </div>
         <div class = "cotnent-section">
                 <form method ="POST">
                    {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Update Profile Info</legend>
                                {{ u_form | crispy }}
                                <label> Email: {{ user.email }} </label>
                                {{ u1_form | crispy }}
                        </fieldset>
                    <div>
                        <button class="btn btn-outline-info" type="submit" name="infoSubmit">Update</button>
                    </div>
                </form>
        </div>
         <div class = "column">
            <h2>Payment Information</h2>
                        <div class="login_row">
                            <form method ="POST">
                                {% csrf_token %}
                                    <fieldset>
                                        {{ pay_form | crispy }}
                                    </fieldset>
                                <div>
                                    <button class="btn btn-outline-info" type="submit" name="paySubmit">Update</button>
                                </div>
                            </form>
                        </div>
        </div>
{% endblock content%}