<!DOCTYPE HTML>
<html lang="en">
    <head>
            <link rel="stylesheet" href="home.css">
            <meta charset="utf-8">
            <title>My Bookstore</title>
    </head>
        <header>
            <a href="home.html"><h1>Welcome To Online Bookstore</h1></a>
        <nav>
            <ul>
                <li><a href = "homeLoggedIn.html">Home</a></li>
                <li><a href = "home.html">Logout</a></li>
                <li><a href = "edit_profile.html">Edit Profile</a></li>
                <li><a href = "myCart.html">My Cart</a></li>
				<li><a href = "orderHistory.html">Order History</a></li>
            </ul>
            </nav></header>
    <body>
        <h1>Featured Books</h1>
        <div style ="text-align: center"><input size = "150" type="text" id="search" name="search" placeholder="Search Books!">
        <button>Search</button>
        </div><br><br>
    <main>
     <div class = "row">
        <div class = "column">
            <img src = "PJTLT.jpg" atl = "Percy Jackson: The Lightning Thief" width = "150" height = "200" class="center">
			<p><button onclick = "location.href='myCart.html';">Add to cart</button></p>
            <h2>Percy Jackson: The Lightning Thief</h2>
            <p>$10</p>
            <p>Twelve-year-old Percy Jackson is on the most dangerous quest of his life. With the help of a satyr and a daughter of Athena, Percy must journey across the United States to catch a thief who has stolen the original weapon of mass destruction — Zeus’ master bolt. Along the way, he must face a host of mythological enemies determined to stop him. Most of all, he must come to terms with a father he has never known, and an Oracle that has warned him of betrayal by a friend.
            </p>
            
        </div>
         <div class = "column">
            <img src = "PJTSOFM.jpg" atl = "Percy Jackson: Sea of Monsters" width ="150" height="200" class="center">
			<p><button>Add to cart</button></p>
            <h2>Percy Jackson: Sea of Monsters</h2>
            <p>$10</p>
            <p>When Thalia’s tree is mysteriously poisoned, the magical borders of Camp Half-Blood begin to fail. Now Percy and his friends have just days to find the only magic item powerful to save the camp before it is overrun by monsters. The catch: they must sail into the Sea of Monsters to find it. Along the way, Percy must stage a daring rescue operation to save his old friend Grover, and he learns a terrible secret about his own family, which makes him question whether being the son of Poseidon is an honor or a curse.
            </p>
            
        </div>
         <div class = "column">
            <img src = "PJTTC.jpg" atl = "Percy Jackson: The Titans Curse" width ="150" height="200" class="center">
			<p><button>Add to cart</button></p>
            <h2>Percy Jackson: The Titans Curse</h2>
            <p>$10</p>
            <p>When Percy Jackson gets an urgent distress call from his friend Grover, he immediately prepares for battle. He knows he will need his powerful demigod allies at his side, his trusty bronze sword Riptide, and… a ride from his mom.
            </p>
            
        </div>
         <div class = "column">
            <img src = "PJTBOTL.jpg" atl = "Percy Jackson: The Battle of the Labyrinth" width ="150" height="200" class="center">
			<p><button>Add to cart</button></p>
            <h2>Percy Jackson: The Battle of the Labyrinth</h2>
            <p>$10</p>
            <p>Percy Jackson isn’t expecting freshman orientation to be any fun, but when a mysterious mortal acquaintance appears, pursued by demon cheerleaders, things quickly go from bad to worse.
            </p>
            
        </div>
     </div>
        </main>
    </body>