{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <h1 class="coming">Featured Books</h1>
    <div style ="text-align: center">
            <input type="text" id="search" name="search" placeholder="Search Books!">
                <button class="btn btn-outline-info">Search</button>
            </input>
    </div>
    <main>
        <table border=1 frame=void rules=rows style="width:100%:">
         {% for book in books %}
                <colgroup>
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                </colgroup>
                <tr>

                  <td><img src = "{% static 'store/images/' %}{{ book.cover_picture }}"  atl = {{ book.title }} width = "150"></td></td>
                  <td><h3>{{ book.title }} </h3></td>
                  <td> {{ book.description }} </td>
                <td>${{book.sell_price|floatformat:2}} <td>
                    {% if user.is_authenticated %}
                        {% if user.user1.user_suspend %}
                            <button class="btn btn-outline-info" name="addToCart" onclick = "location.href={% url 'suspended' %};"><img src = "{% static 'store/images/cart.png' %}" width = "25" height = "25"></button>
                        {% else %}
                            <button class="btn btn-outline-info" name="addToCart" onclick = "location.href={% url 'home' %};"><img src = "{% static 'store/images/cart.png' %}" width = "25" height = "25"></button>
                        {% endif %}
                    {% endif %}
               </tr>
            {% endfor %}
        </table>
    </main>
<aside>
        <h1 class="coming">Coming Soon!</h1>
        <table border=1 frame=void rules=rows style="width:100%">
         {% for book in coming_soon %}
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 60%;">
            </colgroup>
            <tr>
              <td><img src = "{% static 'store/images/' %}{{ book.cover_picture }}"  atl = {{ book.title }} width = "150"></td>
              <td><h3>{{ book.title }} </h3></td>
                <td> {{ book.description }} </td>
            </tr>
          {% endfor %}
        </table>
</aside>
<br>
{% endblock content%}