<!DOCTYPE HTML>
<html lang="en">
    <head>
            <link rel="stylesheet" href="home.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">
            <meta charset="utf-8">
            <title>My Bookstore</title>
    </head>
        <header>
            <a href="home.html" class="logo"><h1>The Bookstore</h1></a>
        <nav>
            <ul>
                <li><a href = "homeLoggedIn.html">Home</a></li>
                <li><a href = "home.html">Logout</a></li>
                <li><a href = "edit_profile.html">Edit Profile</a></li>
                <li><a href = "myCart.html">My Cart</a></li>
				<li><a href = "orderHistory.html">Order History</a></li>
            </ul>
            </nav></header>
    <body>
        <h1>Featured Books</h1>
        <div style ="text-align: center"><input size = "150" type="text" id="search" name="search" placeholder="Search Books!">
        <button>Search</button>
        </div><br><br>
    <main>
     <table border=1 frame=void rules=rows style="width:100%:">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 40%;">
				<col span="1" style="width: 10%;">
				<col span="1" style="width: 10%;">
            </colgroup>
            <tr>
              <td><img src = "PJTLT.jpg" atl = "Percy Jackson: The Lightning Thief" width = "10" height = "200" class="center"></td>
              <td><h3>Percy Jackson: The Lightning Thief</h3></td>
      		 <td>Twelve-year-old Percy Jackson is on the most dangerous quest of his life. With the help of a satyr and a daughter of Athena, Percy must journey across the United States to catch a thief who has stolen the original weapon of mass destruction — Zeus’ master bolt. Along the way, he must face a host of mythological enemies determined to stop him. Most of all, he must come to terms with a father he has never known, and an Oracle that has warned him of betrayal by a friend.</td>
			 <td>$10<td>
			 <td><button class="buttons" onclick = "location.href='myCart.html';">Add to cart</button></button></td>
			 
			</tr>
			</table>
			<br>
			<table border=1 frame=void rules=rows style="width:100%">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 40%;">
				<col span="1" style="width: 10%;">
				<col span="1" style="width: 10%;">
            </colgroup>
            <tr>
              <td><img src = "PJTSOFM.jpg" atl = "Percy Jackson: Sea of Monsters" width = "10" height = "200" class="center"></td></td>
              <td><h3>Percy Jackson: Sea of Monsters</h3></td>
              <td>When Thalia’s tree is mysteriously poisoned, the magical borders of Camp Half-Blood begin to fail. Now Percy and his friends have just days to find the only magic item powerful to save the camp before it is overrun by monsters. The catch: they must sail into the Sea of Monsters to find it. Along the way, Percy must stage a daring rescue operation to save his old friend Grover, and he learns a terrible secret about his own family, which makes him question whether being the son of Poseidon is an honor or a curse.</td>
			<td>$10<td>
			 <td><button class="buttons" onclick = "location.href='myCart.html';">Add to cart</button></td>
		   </tr>
			</table>
			<br>
			<table border=1 frame=void rules=rows style="width:100%">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 40%;">
				<col span="1" style="width: 10%;">
				<col span="1" style="width: 10%;">
            </colgroup>
            <tr>
              <td><img src = "PJTTC.jpg" atl = "Percy Jackson: The Titans Curse" width = "10" height = "200" class="center"></td></td></td>
              <td><h3>Percy Jackson: The Titans Curse</h3></td>
              <td>When Percy Jackson gets an urgent distress call from his friend Grover, he immediately prepares for battle. He knows he will need his powerful demigod allies at his side, his trusty bronze sword Riptide, and… a ride from his mom.</td>
          <td>$10<td>
			 <td><button class="buttons" onclick = "location.href='myCart.html';">Add to cart</button></td>
		  </tr>
			</table>
			<br>
			<table border=1 frame=void rules=rows style="width:100%">
            <colgroup>
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 40%;">
				<col span="1" style="width: 10%;">
				<col span="1" style="width: 10%;">
            </colgroup>
            <tr>
                <td><img src = "PJTBOTL.jpg" atl = "Percy Jackson: The Battle of the Labyrinth" width = "10" height = "200" class="center"></td></td></td>
                <td><h3>Percy Jackson: The Battle of the Labyrinth</h3></td>
                <td>Percy Jackson isn’t expecting freshman orientation to be any fun, but when a mysterious mortal acquaintance appears, pursued by demon cheerleaders, things quickly go from bad to worse.</td>
              <td>$10<td>
			 <td><button class="buttons" onclick = "location.href='myCart.html';">Add to cart</button></td>
			  </tr>
          </table>
		  <br>
        </main>
    </body>