{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <h2 class="page-title">Login</h2>
        <div class="content-section">
                <form method ="POST">
                    {% csrf_token %}
                        <fieldset class="form-group">

                                {{ form | crispy }}
                            <button class="btn btn-dark" type="submit">Sign In</button>
                        </fieldset>
                    <div>

                    </div>
                </form>
            <div class="border-top pt-3">
                <large class="text-muted">
                    Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
                    <br>Reset Password. <a class="ml-2" href="{% url 'password_reset' %}">Reset Now</a>
                </large>
            </div>
        </div>
{% endblock content%}