{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        <h2>Login</h2>
        <div class="login_row">
                <form method ="POST" class="loginfrm">
                    {% csrf_token %}
                        <fieldset>
                                {{ form.as_p }}
                        </fieldset>
                    <div>
                        <button class="btn btn-outline-info" type="submit">Sign In</button>
                    </div>
                </form>
        </div>
        <div class="border-top pt-3">
            <large class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </large>
        </div>
{% endblock content%}