{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="page-title">Promotions</h1>
    <main>
         <div class = "content-section">
                 <form method ="POST">
                    {% csrf_token %}
                     <legend>Add Promotion</legend>
                        <fieldset>
                                {{ p_form.as_table }}
                        </fieldset>
                    <div>
                        <button class="btn btn-dark" type="submit" name="infoSubmit">Create</button>
                    </div>
                </form>
        </div>
        <div>
            <h2>Active Promotions</h2>
            <table border=1 frame=void rules=rows style="width:100%:">
                <colgroup>
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 25%;">
                 </colgroup>
                <tr>
                    <td><u>Promo ID</td>
                    <td><u>Start Date</td>
                    <td><u>End Date</td>
                    <td><u>Discount<td>
               </tr>
                <td></td>
            {% for promo in promos %}
                 <colgroup>
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 25%;">
                        <col span="1" style="width: 25%;">
                 </colgroup>
                <tr>
                    <td>{{ promo.promo_id }}</td>
                    <td>{{ promo.start_date }}</td>
                    <td>{{ promo.end_date }}</td>
                    <td>{{ promo.discount }}%<td>
               </tr>
            {% endfor %}
        </table>
        </div>
    </main>
{% endblock content%}