<!DOCTYPE HTML>
<html lang="en">
    <head>
            <link rel="stylesheet" href="home.css">
            <meta charset="utf-8">
            <title>My Bookstore</title>
    </head>
        <header>
			<a href="admin.html"><h1>Manage Online Bookstore</h1></a>
        <nav>
            <ul>
                <li><a href = "admin.html">Home</a></li>
                <li><a href = "home.html">Logout</a></li>
                <li><a href = "adminEditProfile.html">Edit Profile</a></li>
				<li><a href = "manageUsers.html">Manage Users</a></li>
				<li><a href = "managePromotions.html">Manage Promotions</a></li>
            </ul>
            </nav></header>