{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="page-title">Users</h1>
    <div class="content-section">
    <form method ="POST">
                {% csrf_token %}
                    <legend class="border-bottom mb-4">Change User Status</legend>
                    <fieldset>
                        {{ form | crispy }}
                        <button class="btn btn-dark" type="submit" name="suspend">Suspend Status</button>
                        <button class="btn btn-dark" type="submit" name="employee">Employee Status</button>
                        <button class="btn btn-dark" type="submit" name="admin">Admin Status</button>
                    </fieldset>
            </form>
    </div>
    <main></main>
        <div>
            <table border=1 frame=void rules=rows style="width:100%:">
                <legend class="form-group">All Users</legend>
                <colgroup>
                        <col span="1" style="width: 13%;">
                        <col span="1" style="width: 13%;">
                        <col span="1" style="width: 13%;">
                        <col span="1" style="width: 13%;">
                        <col span="1" style="width: 13%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 9%;">
                        <col span="1" style="width: 9%;">
                        <col span="1" style="width: 6%;">
                 </colgroup>
                <tr>
                    <td><u>Email</td>
                    <td><u>Username</td>
                    <td><u>First Name</td>
                    <td><u>Last Name</td>
                    <td><u>Phone #</td>
                    <td><u>Promotions</td>
                    <td><u>Suspended</td>
                    <td><u>Employee</td>
                    <td><u>Admin</td>
                    <td></td>
               </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.user1.phone }}</td>
                    {% if user.user1.receive_promotions %}
                    <td><input type="checkbox" onclick="return false;" checked/></td>
                    {% else %}
                    <td><input type="checkbox" onclick="return false;"/></td>
                    {% endif %}
                    {% if user.user1.user_suspend %}
                    <td><input type="checkbox" onclick="return false;" checked/></td>
                    {% else %}
                    <td><input type="checkbox" onclick="return false;"/></td>
                    {% endif %}
                    {% if user.is_staff %}
                    <td><input type="checkbox" onclick="return false;" checked/></td>
                    {% else %}
                    <td><input type="checkbox" onclick="return false;"/></td>
                    {% endif %}
                    {% if user.is_superuser %}
                    <td><input type="checkbox" onclick="return false;" checked/></td>
                    {% else %}
                    <td><input type="checkbox" onclick="return false;"/></td>
                    {% endif %}
               </tr>
            {% endfor %}
        </table>
        </div>
    </main>
{% endblock content%}