{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <h1 class="page-title">My Cart</h1>
    <table border=1 frame=void rules=rows style="width:100%:">
        <colgroup>
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
        </colgroup>
    {% for book in books %}
        <tr>
            <td><img src = "{% static 'store/images/' %}{{ book.0.cover_picture }}"  atl = {{ book.0.title }} width = "150"></td></td>
            <td> {{ book.0.title }} </td>
            <td> ${{book.0.sell_price|floatformat:2}} <td>
            <form method ="POST">
                {% csrf_token %}
                <input type="number" id="quantity" name="number" value="{{ book.1 }}" min="1" max="{{ book.0.quantity }}" />
                <button class="btn btn-dark" type="update" value="{{ book.0.bookid }}" name="update">Update</button>
            </form>
        </tr>
    {% endfor %}
    </table>
{% endblock content%}