{% extends "store/base.html" %}
{% load static %}
{% load extras %}
{% block content %}
    <h1 class="page-title">Order History</h1>
        {% for orders in history %}
            <div class="content-section">
                <h4><u>Order: {{ orders.0.order_datetime }}</u> </h4>
                <small class="text-muted"> <b>Status:</b> Processed. Awaiting Shipping. </small>

                <table border=1 frame=void rules=rows style="width:100%:">
				    <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 5%;">
				    </colgroup>
				    <tr>
                        <td>   </td>
					    <td><u>Title</td>
					    <td><u>Quantity</td>
                        <td>   </td>
				    </tr>
                    {% for book in orders.1 %}
                    <tr>
                        <td><img src = "{% static 'store/images/' %}{{ book.0.cover_picture }}"  atl = {{ book.0.title }} width = "40"></td>
                        <td> {{ book.0.title }} </td>
                        <td> {{ book.1 }} </td>
                        <td>
                        <form method ="POST">
                            {% csrf_token %}
                            <button class="btn btn-dark" type="reorder" value="{{ book.0.bookid }}:{{ book.1 }}" name="reorder">Reorder</button>
                        </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
{% endblock content%}