{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
        <h2 class="page-title">Create New Password</h2>
        <div class="content-section">
            <form method ="POST">
                {% csrf_token %}
                    <fieldset class="form-group">

                        <div class="form-group">
                        <label for="email" class=" requiredField">
                            Email:
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" id="email" name="email" class="textinput textInput form-control">
                            <small id="hint_id_email" class="form-text text-muted">Enter your current email address.</small>
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="old_password" class=" requiredField">
                            Current Password:
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" id="old_password" name="email" class="textinput textInput form-control">
                            <small id="hint_id_old_password" class="form-text text-muted">Enter your current password.</small>
                        </div>
                        </div>

                            {{ p_form | crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit" name="passSubmit">Update</button>
                    </div>
            </form>
        </div>
{% endblock content%}


