{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
            <link rel="stylesheet" href="{% static 'store/css/home.css' %}">
            <meta charset="utf-8">
            <title>My Bookstore</title>
    </head>
        <header>
        <nav>
            <ul>
                <li><a href = "{% url 'home' %}">Home</a></li>
                <li><a href = "{% url 'register' %}">Login/Register</a></li>
            </ul>
            </nav></header>
    <body>
        <h2>Login / Register</h2>
        <div class="login_row">
                <h2>Register</h2>
                <form method ="POST">
                    {% csrf_token %}
                        <fieldset>
                                {{ form.as_p }}
                        </fieldset>
                    <div>
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                </form>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </body>
</html>